@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:recipient"],
.signature{
	font-variant: small-caps
}

.card{
	text-align: center;
	font-style: italic;
}

.card > p{
	display: inline-block;
	padding: 1em 2em;
	border: 1px solid;
}

.card b{
	font-style: normal;
}

#chapter-9 blockquote{
	text-align: center;
	font-variant: small-caps;
}

#chapter-9 blockquote p{
	text-indent: 0;
}
