@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:recipient"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.card{
	font-style: italic;
	text-align: center;
}

.card > p{
	border: 1px solid;
	display: inline-block;
	padding: 1em 2em;
}

.card b{
	font-style: normal;
}

#chapter-9 blockquote{
	font-variant: small-caps;
	text-align: center;
}

#chapter-9 blockquote p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}
